#
# This file is part of the PHP-Markdown-Extended package.
#
# Copyright (c) 2008-2024, Pierre Cassat (me at picas dot fr) and contributors
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#

.env
TODOS*

# the composer & npm stuff
composer.lock
vendor
package.json
package-lock.json
node_modules

# dev
build
cache
dev
tmp
.phpunit.result.cache

# specific MDE files
bin
!bin/markdown-extended

# this is for all branches but "phar-latest"
!bin/mde-dev
*.phar

# this is for "phar-latest" branch only
#demo/*
#dev/*
#doc/*
#docker/*
#src/*
#tests/*
#.codeclimate.yml
#.editorconfig
#.gitattributes
#.php-cs-fixer.php
#.phpmd.baseline.xml
#.phpmd.xml
#.phpmetrics.yml
#.releaserc.yml
#composer.json
#CONTRIBUTING.md
#Makefile
#phpdoc.xml
#phpunit.xml
#!bin/markdown-extended.phar

# hack to allow keeping an empty directory
!.gitkeep
