# the composer stuff
composer.lock
vendor/*

# any "tmp*" file or dir anywhere
*tmp*

# dev
dev/*
build/logs/*

# this is for "dev" branch only
build/*
demo/*
doc/*
phpdoc/*

# specific MDE files
bin/*
!bin/markdown-extended
!bin/mde-dev

# no phar
*.phar

# hack to allow keeping an empty directory
!.gitkeep
