* text=auto

*.php   text diff=php trailing-space space-before-tab -indent-with-non-tab
*.phar  binary
*.md    text

.git*   text export-ignore
tests/  export-ignore
dev/    export-ignore
vendor/ export-ignore
