* text=auto

*.php   text diff=php trailing-space space-before-tab -indent-with-non-tab
*.phar  binary export-ignore
*.md    text

.git*           text export-ignore
dev/            export-ignore
build/          export-ignore
tmp*            export-ignore
vendor/         export-ignore
composer.lock   export-ignore
TODOS*          export-ignore
