<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="MarkdownExtended Test Suite">
            <directory>./tests/testsMarkdownExtended/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/MarkdownExtended/</directory>
            <exclude>
                <directory>./src/MarkdownExtended/*/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>

