########################################################################
#                                                                      #
# Automatic Parsing of Markdown texte files                            #
#                                                                      #
# =======================================                              #
# PHP Extended Markdown                                                #
# Copyright (c) 2012-2013 Pierre Cassat                                #
# http://www.ateliers-pierrot.fr - contact@ateliers-pierrot.fr         #
########################################################################

#
# Any path of this file must be relative to your virtual host DOCUMENT_ROOT
#

# any environment variable beginning with `MDE_` will be fetched to the app
#SetEnv MDE_TPL /GitHub_projects/markdown-extended/demo/user/template.html
#SetEnv MDE_CHARSET iso-8859-11
#SetEnv MDE_CONSOLE_OPTIONS --extract

# We autorize CGIs
Options +ExecCGI
#AllowOverride All

# We include 'sh' in exec scripts
AddHandler cgi-script .sh

# To display '.md' files as text if something went wrong 
AddType text/html .md

# Treat '.md' files by the Markdown handler
# CAUTION - this requires to know exactly where the CGI is ...
AddHandler MarkDown .md
Action MarkDown /GitHub_projects/markdown-extended/demo/cgi-scripts/mde_apacheHandler.sh virtual

# Endfile