########################################################################
#                                                                      #
# Automatic Parsing of Markdown texte files                            #
#                                                                      #
# =======================================                              #
#                                                                      #
# This file is part of the PHP-Markdown-Extended package.              #
#                                                                      #
# (c) Pierre Cassat (me at picas dot fr) and contributors              #
#                                                                      #
# For the full copyright and license information, please view the      #
# LICENSE file that was distributed with this source code.             #
#                                                                      #
########################################################################

#
# Any path of this file must be relative to your virtual host DOCUMENT_ROOT
#

# any environment variable beginning with `MDE_` will be fetched to the app
#SetEnv MDE_TPL /user/template.html
#SetEnv MDE_CHARSET iso-8859-11
#SetEnv MDE_CONSOLE_OPTIONS --extract

# We autorize CGIs
Options +ExecCGI
#AllowOverride All

# We include 'sh' in exec scripts
AddHandler cgi-script .sh

# To display '.md' files as text if something went wrong 
AddType text/html .md

# Treat '.md' files by the Markdown handler
# CAUTION - this requires to know exactly where the CGI is ...
AddHandler MarkDown .md
Action MarkDown /cgi-scripts/mde_apacheHandler.sh virtual

# Endfile
