/* Styles for the demos */

html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 50px;
    margin-bottom: 60px;
}
header {
    padding: 40px 15px;
    text-align: center;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
#footer > .container {
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
}
.main-nav.jumbotron {
    margin-top: 2em;
    margin-left: 1em;
    margin-bottom: 1em;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.main-nav.jumbotron p {
    font-size: 14px;
    font-weight: normal;
}

a.handler   {color: #737373; }
a.handler.strong {font-weight: bold;}

.footnotes  {font-size: .92em; margin: 2em 10em 0 1em; border-top: 1px solid #ddd;}
.footnotes .credits  {text-align: left;font-size: .96em;text-indent:0;}
a.footnote_link {color: #2380A0; font-weight: bold;}
.footnotes li {margin-left: 1em;}

.jsconsole  {margin-top: 0; margin-bottom: 22px; height: auto; min-height: 40px;}
.jsconsole h3 { margin-top: 1em; }

/* highlight */
div.highlight {background:#FFFFFF; border:1px solid #D0D0D0; font-family:"Courier New","Andale Mono", Courrier, monospace; overflow: hidden;}
div.highlight pre{width: 100%; overflow: auto; padding:0; margin:0; font-size:1em; clear: both;}
/* tabs */
div.highlight ul.tabs {overflow: hidden; padding: 5px 0 5px 0; margin: 0; list-style: none; border-bottom: 1px solid #E0E0E0; width: 100%;}
div.highlight ul.tabs li {padding: 0; margin: 0 5px; float: left; background: none; border-bottom: 1px dashed #CCC; line-height:1.0em; color: #CCC; cursor: pointer;}
div.highlight ul.tabs li.active {border-bottom: none; cursor: default;}
/* pre */
div.highlight pre.code ol {margin: 0; padding:0 0 0 45px; background:#e7e5dc;  }
div.highlight pre.code ul {margin: 0; padding:0;    }
div.highlight pre.code ol li, div.highlight pre.code ul li {padding:0 0 0 5px; border-left:3px solid #CCC; background:#F9F9F9;}
div.highlight pre.code ul li {border-left:none;}
div.highlight pre.code ol li.even, div.highlight pre.code ul li.even {background-color:#F4F4F4;}
div.highlight pre.source {display: none; padding:0 0 0 5px;}
/* highligting */
pre.code .str {color: #080;}
pre.code .kwd, pre.code .kwd span {color: #070;}
pre.code .com, pre.code .com span {color:#080; font-style: italic; font-weight: normal;}
pre.code .typ {color: #606;}
pre.code .lit {color: #066;}
pre.code .pun {color: #660;}
pre.code .pln {color: #000;}
pre.code .tag {color: #008; font-weight: bold;  }
pre.code .atn {color: #606;}
pre.code .atv {color: #080;}
pre.code .dec {color: #606;}
pre.code .fnc, pre.code .fnc span {color: #00b;}
/* css */
.css pre.code .kwd, .css pre.code .kwd span {color: #008; font-weight: bold;}
/* php */
.php pre.code .str, .php pre.code .str span {color: #d00;}
.php pre.code .var, .php pre.code .var span {color: #00b;}
.php pre.code .com, .php pre.code .com span {color:#ff8000; font-style: italic; font-weight: normal;}
